@charset 'UTF-8';

$images-dir: '/static/images/';

@import 'mtp';

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: .2em;
}

// Dashboard design makes page shorter so the whole page fits
// on a typical user screen
.mtp-compact {
  h1 { font-size: 28px; }
  h2 {
    margin: 0;
    font-size: 19px;
  }
  h3 { margin: 1em 0 1em 0 }
  .mtp-filelink { margin-top: 1.2em; }
  .grid-row.second {
    padding-top: 2em;
    border-top: 1px solid $panel-colour;
  }
  section { margin-bottom: 2em; }
}
