@import 'mtp-internal';

@import 'elements/mailcheck-warning';

// Application specific
// Dashboard design makes page shorter so the whole page fits on a typical user screen

.mtp-compact {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 19px;
    margin: 0;
  }

  h3 {
    margin: 1em 0;
  }

  section {
    display: inline-block;
    margin-bottom: 2em;
    vertical-align: top;
    width: 470px;
  }
}

.mtp-compact__row-1 {
  border-bottom: 1px solid $panel-colour;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.mtp-filelink {
  margin: 1.2em 0;
}

.mtp-missed-downloads-box {
  background: file-url('icon-important.png') no-repeat 16px 16px;
  border: 3px solid $red;
  padding: 1em;
  margin-bottom: 2em;

  @include device-pixel-ratio {
    background-image: file-url('icon-important-2x.png');
    background-size: 35px 35px;
  }

  .heading-medium {
    margin-top: 4px;
    padding-left: 48px;
  }
}

.mtp-export-link {
  float: right;
  display: inline-block;
  margin-bottom: em(15, 19);
}
