@charset 'UTF-8';

$images-dir: '/static/images/';

@import 'mtp';

// Dashboard design makes page shorter so the whole page fits
// on a typical user screen
.mtp-compact {
  h1 { font-size: 28px; }
  h2 {
    margin: 0;
    font-size: 19px;
  }
  h3 { margin: 1em 0 1em 0 }
  .mtp-filelink { margin: 1.2em 0 1.2em 0 }
  section {
    display: inline-block;
    width: 470px;
    vertical-align: top;
  }
  .mtp-compact-row-1 {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid $panel-colour;
  }
}
