{% extends 'mtp_common/components/header-app-links.html' %}

{% block app_links %}
<ul>
  {% if request.user.is_authenticated %}
    <li>
      {% include 'mtp_common/components/header-app-link.html' with view_name='bank_admin:dashboard' link_text=_('Download files') %}
    </li>
  {% else %}
    <li>
      {% include 'mtp_common/components/header-app-link.html' with view_name='login' link_text=_('Sign in') %}
    </li>
  {% endif %}
  <li>
    {% include 'mtp_common/components/header-app-link.html' with view_name='submit_ticket' subview_names='feedback_success' link_text=_('Get help') %}
  </li>
</ul>
{% endblock %}
