*.DS_Store
*.py[cod]
*.mo
*.pot
venv/

# sass & node.js
*.sass-cache/
.eslintcache/
node_modules/
npm-debug.log

# app-specific
docker-compose.yml
package.json
webpack.config.js
mtp_bank_admin/assets/
mtp_bank_admin/settings/local.py
static/
media/
spooler/

# selenium
geckodriver.log
ghostdriver.log
