*.DS_Store
*.py[cod]
*.mo
*.pot
venv/

# sass & node.js
*.sass-cache/
.eslintcache/
node_modules/
npm-debug.log

# app-specific
docker-compose.yml
package.json
package-lock.json
webpack.config.js
mtp_bank_admin/assets/
mtp_bank_admin/settings/local.py
static/
media/
spooler/
local_files/cache/
/test_disbursements.xlsm
/test_journal.xlsm

# selenium
geckodriver.log
ghostdriver.log
