$component: ContentBlock;
$block-width: $tablet;
$block-padding: em(30);

.#{$component} {

  @include breakpoint($tablet) {
    max-width: $block-width;
  }

  h2 {
    font-size: em(24);
    margin: {
      top: 0;
      bottom: 0;
    }
  }

  p {
    margin: {
      top: em(5);
      bottom: 0;
    }
  }

  & + .#{$component} {
    margin: $block-padding 0 0;
    padding: $block-padding 0 0;
    border-top: 1px solid $grey-2;
  }

}
