.mtp-missed-downloads-box {
  box-sizing: border-box;
  @include govuk-responsive-margin(8, 'bottom');
  @include govuk-responsive-padding(4);
  border: $govuk-border-width solid $govuk-error-colour;
  background-color: $govuk-body-background-colour;
}

.mtp-download-dashboard {
  .govuk-grid-row {
    @include govuk-responsive-margin(8, 'bottom');

    @include govuk-media-query($from: tablet) {
      border-bottom: 1px solid $govuk-border-colour;
    }
  }

  section {
    @include govuk-responsive-margin(6, 'bottom');
    border-bottom: 1px solid $govuk-border-colour;

    @include govuk-media-query($from: tablet) {
      border-bottom: none;
    }
  }
}
