{% extends 'base.html' %}
{% load i18n dates %}

{% block content %}
  <div class="mtp-compact">
    {% get_preceding_weekdays 3 offset=1 as preceding_days %}
    <h1>{% trans 'Download files' %}</h1>

    {% include "includes/message_box.html" %}

    <div class="container">

      <div class="mtp-compact-row-1">
        {% if perms.transaction.view_bank_details_transaction %}
        <section class="ContentBlock">
          <h2>{% trans 'Access Pay file – refunds' %}</h2>
          {% url 'bank_admin:download_refund_file' as base_download_url %}
          {% for day in preceding_days %}
              {% blocktrans with date=day|date:'d/m/Y' asvar download_label %}Download file for {{ date }}{% endblocktrans %}

              {% if forloop.first %}
          <div class="mtp-filelink">
              <a href="{{ base_download_url }}?receipt_date={{ day|date:'Y-m-d' }}">
              {{ download_label }}
              </a>
          </div>

          <div class="help-box">
            <h3 aria-controls="previous-ap-refunds" aria-expanded="true">
              <div></div><a href="#">{% trans 'Previous AccessPay refund files' %}</a>
            </h3>
            <div id="previous-ap-refunds" class="help-box-contents">
              <ul>
              {% else %}
                <li>
                  <a href="{{ base_download_url }}?receipt_date={{ day|date:'Y-m-d' }}">
                      {{ download_label }}
                  </a>
                </li>
                  {% endif %}
              {% endfor %}
              </ul>
            </div>
          </div>
        </section>
        {% endif %}

        <section class="ContentBlock">
          <h2>{% trans 'ADI Journal – refunds' %}</h2>
          {% url 'bank_admin:download_adi_refund_file' as base_download_url %}
          {% for day in preceding_days %}
              {% blocktrans with date=day|date:'d/m/Y' asvar download_label %}Download transactions for {{ date }}{% endblocktrans %}

              {% if forloop.first %}
          <div class="mtp-filelink">
            <a href="{{ base_download_url }}?receipt_date={{ day|date:'Y-m-d' }}">
            {{ download_label }}
            </a>
          </div>

          <div class="help-box">
            <h3 aria-controls="previous-adi-refunds" aria-expanded="true">
              <div></div><a href="#">{% trans 'Previous ADI Journals – refunds' %}</a>
            </h3>
            <div  id="previous-adi-refunds" class="help-box-contents">
              <ul>
              {% else %}
                <li>
                  <a href="{{ base_download_url }}?receipt_date={{ day|date:'Y-m-d' }}">
                    {{ download_label }}
                  </a>
                </li>
              {% endif %}
          {% endfor %}
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div class="mtp-compact-row-2">
        <section class="ContentBlock">
          <h2>{% trans 'ADI Journal – credits' %}</h2>
          {% url 'bank_admin:download_adi_payment_file' as base_download_url %}
          {% for day in preceding_days %}
            {% blocktrans with date=day|date:'d/m/Y' asvar download_label %}Download transactions for {{ date }}{% endblocktrans %}

            {% if forloop.first %}
          <div class="mtp-filelink">
            <a href="{{ base_download_url }}?receipt_date={{ day|date:'Y-m-d' }}">
            {{ download_label }}
            </a>
          </div>

          <div class="help-box">
            <h3 aria-controls="previous-adi-journals" aria-expanded="true">
              <div></div><a href="#">{% trans 'Previous ADI Journals – credits' %}</a>
            </h3>
            <div id="previous-adi-journals" class="help-box-contents">
              <ul>
              {% else %}
                <li>
                  <a href="{{ base_download_url }}?receipt_date={{ day|date:'Y-m-d' }}">
                      {{ download_label }}
                  </a>
                </li>
              {% endif %}
          {% endfor %}
              </ul>
            </div>
          </div>
        </section>

        <section class="ContentBlock">
          <h2>{% trans 'Bank statement' %}</h2>

          {% url 'bank_admin:download_bank_statement' as base_download_url %}
          {% for day in preceding_days %}
              {% blocktrans with date=day|date:'d/m/Y' asvar download_label %}Download transactions for {{ date }}{% endblocktrans %}

              {% if forloop.first %}
          <div class="mtp-filelink">
              <a href="{{ base_download_url }}?receipt_date={{ day|date:'Y-m-d' }}">
              {{ download_label }}
              </a>
          </div>

          <div class="help-box">
              <h3 aria-controls="previous-statements" aria-expanded="true">
                <div></div><a href="#">{% trans 'Previous bank statements' %}</a>
              </h3>
              <div id="previous-statements" class="help-box-contents">
              <ul>
              {% else %}
                  <li>
                  <a href="{{ base_download_url }}?receipt_date={{ day|date:'Y-m-d' }}">
                      {{ download_label }}
                  </a>
                  </li>
              {% endif %}
          {% endfor %}
              </ul>
              </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
