{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Download files' %} – {{ block.super }}{% endblock %}

{% block content %}
  {% notification_banners request 'bankadmin_dashboard' %}

  <header>
    <h1 class="govuk-heading-xl">{% trans 'Download files' %}</h1>
  </header>

  {% include 'mtp_common/includes/message_box.html' %}

  {% if missed_refunds or missed_adi_journals or missed_statements or missed_disbursements %}
    <div class="mtp-missed-downloads-box" role="alert" aria-labelledby="mtp-missed-downloads-box__heading">
      <h2 id="mtp-missed-downloads-box__heading" class="govuk-heading-m">{% trans 'You may have forgotten to download these files' %}</h2>
      <p>
        <strong>
          {% trans 'Please download and process them before you move on to the next.' %}
        </strong>
      </p>

      {% if missed_refunds %}
        <p>
          {% trans 'Access Pay refunds for:' %}
          {% for refund_date in missed_refunds %}
            <a href="{% url 'bank_admin:download_refund_file' %}?receipt_date={{ refund_date|date:'Y-m-d' }}">{{ refund_date|date:'d/m/Y' }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
      {% endif %}
      {% if missed_adi_journals %}
        <p>
          {% trans 'ADI journals for:' %}
          {% for journal_date in missed_adi_journals %}
            <a href="{% url 'bank_admin:download_adi_journal' %}?receipt_date={{ journal_date|date:'Y-m-d' }}">{{ journal_date|date:'d/m/Y' }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
      {% endif %}
      {% if missed_statements %}
        <p>
          {% trans 'Bank statements for:' %}
          {% for statement_date in missed_statements %}
            <a href="{% url 'bank_admin:download_bank_statement' %}?receipt_date={{ statement_date|date:'Y-m-d' }}">{{ statement_date|date:'d/m/Y' }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
      {% endif %}
      {% if missed_disbursements %}
        <p>
          {% trans 'Disbursements for:' %}
          {% for disbursement_date in missed_disbursements %}
            <a href="{% url 'bank_admin:download_disbursements' %}?receipt_date={{ disbursement_date|date:'Y-m-d' }}">{{ disbursement_date|date:'d/m/Y' }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </div>
  {% endif %}

  <div class="mtp-download-dashboard">
    <div class="govuk-grid-row">

      {% if perms.transaction.view_bank_details_transaction %}
        {% url 'bank_admin:download_refund_file' as base_download_url %}
        {% include 'bank_admin/downloads.html' with identifier='ap-refunds' heading=_('Access Pay file – refunds') previous_heading=_('Previous Access Pay refund files') %}
      {% endif %}

      {% if perms.credit.view_any_credit %}
        {% url 'bank_admin:download_adi_journal' as base_download_url %}
        {% include 'bank_admin/downloads.html' with identifier='adi-journals' heading=_('ADI Journal') previous_heading=_('Previous ADI Journals') %}
      {% endif %}

    </div>
    <div class="govuk-grid-row">

      {% if perms.transaction.view_transaction %}
        {% url 'bank_admin:download_bank_statement' as base_download_url %}
        {% include 'bank_admin/downloads.html' with identifier='statements' heading=_('Bank statement') previous_heading=_('Previous bank statements') %}
      {% endif %}

      {% if perms.disbursement.view_disbursement %}
        {% url 'bank_admin:download_disbursements' as base_download_url %}
        {% include 'bank_admin/downloads.html' with identifier='disbursements' heading=_('Disbursements') previous_heading=_('Previous Disbursements') %}
      {% endif %}

    </div>
  </div>

{% endblock %}
