{% extends 'base.html' %}

{% block inner_content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Send money to a prisoner service - FAQs</h1>
    <br>
    <p class="lede">Information for prison switchboard, Zendesk and business hub staff to help answer questions from the public.</p>
    <h2 class="heading-medium">1. How can I send money to a prisoner using the new service?</h2>
    <p>Directly with your <strong>debit card</strong>.<br>Or by <strong>bank transfer</strong> using online banking, a mobile banking app or telephone banking.</p>
    <br>
    <h2 class="heading-medium">2. What bank cards can I use?</h2>
    <p>You can use Visa, Mastercard and Maestro.</p>
    <br>
    <h2 class="heading-medium">3. What payment methods do not work?</h2>
    <p>You can <strong>not</strong> use CHAPS.<br>And you can <strong>not</strong> make a payment in-person at a bank using IBAN.</p>
    <br>
    <h2 class="heading-medium">4. Can I send money to a prisoner using this service?</h2>
    <p>Yes. The digital service (bank transfers and debit cards) is now available to all public prisons in England and Wales.<br>The service is <strong>not</strong> available in private prisons.</p>
    <br>
    <h2 class="heading-medium">5. How long will it take for the prisoner to receive the money?</h2>
    <p>Up to 3 working days.</p>
    <br>
    <h2 class="heading-medium">6. Has the prisoner received my money?</h2>
    <p>Ask the prisoner when they call you.</p>
    <br>
    <h2 class="heading-medium">7. Why didn’t the money reach the prisoner?</h2>
    <p>If you paid by <strong>debit card</strong>, contact your bank.<br>If you paid by <strong>bank transfer</strong>, it may be because:</p>
    <br>
    <ul class="list list-bullet">
      <li>the reference you inserted for the bank transfer is wrong - check with the prisoner that you have the prisoner’s correct date of birth and correct prisoner number</li>
      <li>the prisoner has left prison</li>
      <li>you paid cash in-branch (not allowed)</li>
      <li>you made an international transfer (not allowed)</li>
    </ul>
    <p>You’ll <strong>ONLY</strong> get a refund if the reference you inserted for the bank transfer is incorrect OR if the prisoner has left prison.</p>
    <br>
    <h2 class="heading-medium">8. How long will it take for me to get a refund from my bank transfer?</h2>
    <p>4 working days from the day you sent the money.</p>
    <br>
    <h2 class="heading-medium">9. How will I know I’ve got my refund?</h2>
    <p>Check your bank account 4 working days after you sent the money.<br>On your bank statement you’ll see the refund appear as ‘GBS RE NOMS AGENCY’.</p>
    <br>
    <h2 class="heading-medium">10. How do I check the correct reference number for my bank transfer?</h2>
    <p>Go to: <a href="https://www.gov.uk/send-prisoner-money">www.gov.uk/send-prisoner-money</a></p>
    <p>Try to generate the reference.<br> If the reference can’t be generated, check with the prisoner that you have their correct date of birth and correct prisoner number.<br>Sometimes the date of birth is entered incorrectly into the prison system.<br>The prisoner might need to ask an officer on the wing to check it and let you know.</p>
    <br>
    <h2 class="heading-medium">11. How do I get my money back if I made a bank transfer in-branch or by international transfer?</h2>
    <p>You need to talk to the prison business hub staff to identify the payment. When it’s been identified you will need to write to them confirming:</p>
    <br>
    <ul class="list list-bullet">
      <li>who you are</li>
      <li>your address </li>
      <li>how you made the payment (in-branch or international transfer)</li>
      <li>if in-branch, what bank/branch you went to</li>
      <li>your bank</li>
      <li>your sort code, account number</li>
      <li>prisoner’s name</li>
      <li>prisoner’s prison number</li>
    </ul>
    <p>When the prison business hub staff get your letter, they’ll send you a cheque.  </p>
    <br>
    <h2 class="heading-medium">12. If I send money using the service how will my data be used or stored?</h2>
    <p>Go to: <a href="https://www.gov.uk/send-prisoner-money">www.gov.uk/send-prisoner-money</a></p>
    <p>Click on ‘Terms and Conditions’ at the bottom of the page.</p>
    <br>
  </div>
</div>

{% endblock %}

