{% extends 'base.html' %}

{% block inner_content %}
<div class="grid-row">

  <div class="column-full">
  	<u><h1 class="heading-large">Send money to a prisoner service - FAQs</h1></u><br>
    <u><h1 class="heading-medium no-space-under-heading">How can I send money to a prisoner using the new service?</h1></u>
	<p class="lede no-space-above" >Directly with your <strong>debit card</strong>.<br>Or by <strong>bank transfer</strong> using online banking, a mobile banking app or telephone banking.</p><br>

    <u><h1 class="heading-medium no-space-under-heading">What bank cards can I use?</h1></u>
	<p class="lede no-space-above" >You can use Visa, Mastercard and Maestro.</p><br>

	<u><h1 class="heading-medium no-space-under-heading">What payment methods do not work?</h1></u>
	<p class="lede no-space-above" >You can <strong>not</strong> use CHAPS.<br>And you can <strong>not</strong> make a payment in-person at a bank using IBAN.</p><br>

	<u><h1 class="heading-medium no-space-under-heading">Can I send money to a prisoner using this service?</h1></u>
	<p class="lede no-space-above" >Yes. The digital service (bank transfers and debit cards) is now available to all public prisons in England and Wales.<br>The service is <strong>not</strong> available in private prisons.</p><br>

	<u><h1 class="heading-medium no-space-under-heading">How long will it take for the prisoner to receive the money?</h1></u>
	<p class="lede no-space-above" >Up to 3 working days.</p><br>

	<u><h1 class="heading-medium no-space-under-heading">Has the prisoner received my money?</h1></u>
	<p class="lede no-space-above" >Ask the prisoner when they call you.</p><br>

	<u><h1 class="heading-medium no-space-under-heading">Why didn’t the money reach the prisoner?</h1></u>
	<p class="lede no-space-above" >If you paid by <strong>debit card</strong>, contact your bank.<br>If you paid by <strong>bank transfer</strong>, it may be because:</p><br>
	<ul class="list list-bullet lede no">
		<li>the reference you inserted for the bank transfer is wrong - check with the prisoner that you have the prisoner’s correct date of birth and correct prisoner number</li>
		<li>the prisoner has left prison</li>
		<li>you paid cash in-branch (not allowed)</li>
		<li>you made an international transfer (not allowed)</li>
	</ul>
	<p class="lede no-space-above" >You’ll <strong>ONLY</strong> get a refund if the reference you inserted for the bank transfer is incorrect OR if the prisoner has left prison.</p><br>


	<u><h1 class="heading-medium no-space-under-heading">How long will it take for me to get a refund from my bank transfer?</h1></u>
	<p class="lede no-space-above" >4 working days from the day you sent the money.</p><br>

	<u><h1 class="heading-medium no-space-under-heading">How will I know I’ve got my refund?</h1></u>
	<p class="lede no-space-above" >Check your bank account 4 working days after you sent the money.<br>On your bank statement you’ll see the refund appear as ‘GBS RE NOMS AGENCY’.</p><br>

	<u><h1 class="heading-medium no-space-under-heading">How do I check the correct reference number for my bank transfer?</h1></u>
	<p class="lede no-space-under-heading">Go to: <a href="https://www.gov.uk/send-prisoner-money">www.gov.uk/send-prisoner-money</a></p>
	<p class="lede no-space-above" >Try to generate the reference.<br> If the reference can’t be generated, check with the prisoner that you have their correct date of birth and correct prisoner number.<br>Sometimes the date of birth is entered incorrectly into the prison system.<br>The prisoner might need to ask an officer on the wing to check it and let you know.</p><br>

	<u><h1 class="heading-medium no-space-under-heading">How do I get my money back if I made a bank transfer in-branch or by international transfer?</h1></u>
	<p class="lede no-space-above" >You need to talk to the prison business hub staff to identify the payment. When it’s been identified you will need to write to them confirming:</p><br>
	<ul class="list list-bullet lede no">
		<li>who you are</li>
		<li>your address </li>
		<li>how you made the payment (in-branch or international transfer)</li>
		<li>if in-branch, what bank/branch you went to</li>
		<li>your bank</li>
		<li>your sort code, account number</li>
		<li>prisoner’s name</li>
		<li>prisoner’s prison number</li>
	</ul>

	<p class="lede no-space-above" >When the prison business hub staff get your letter, they’ll send you a cheque.  </p><br>

	<u><h1 class="heading-medium no-space-under-heading">If I send money using the service how will my data be used or stored?</h1></u>
	<p class="lede no-space-under-heading">Go to: <a href="https://www.gov.uk/send-prisoner-money">www.gov.uk/send-prisoner-money</a></p>
	<p class="lede no-space-above" >Click on ‘Terms and Conditions’ at the bottom of the page.</p><br>
  </div>

</div>

{% endblock %}
  